# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<style>
.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #2F80ED;
}

.about-block {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
}

.image-margin {
    margin: 20px;
    margin-left: 70px;
    display: inline-block;
    width: 10%;
    top: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}
</style>


<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
<h1 class="title">¿Qué es EduAbierta?</h1>

<hr>

<div class="container">
    <div style="display: inline-block;width: 80%;">
        <p class="about-block">
            EduAbierta es una iniciativa desarrollada por la Facultad de Filosofía y Humanidades de la Universidad de Chile, continuando con su larga y destacada trayectoria de vinculación con la sociedad y de la articulación multi y transdisciplinaria a partir de diversas iniciativas que surgen de sus programas académicos. Su labor es visibilizar y vincular los saberes y disciplinas que se cultivan en torno a las Humanidades, Filosofía y Educación.
        </p>
    </div>
    <div class="image-margin">
        <img src="/static/eduabierta/images/eduabierta.svg">&emsp;
    </div>
</div>

<div class="container">
    <p class="about-block"> 
        En este contexto, se abre un espacio formativo masivo, abierto a la comunidad nacional e internacional y en línea, promoviendo cursos en modalidad MOOC (massive, open, online, courses), los que cuentan con la excelencia académica y el prestigio de la Universidad de Chile.
    </p>
    <p class="about-block">
        Sus objetivos fundamentales son desarrollar un modelo de apertura, gestión del conocimiento y el patrimonio educativo de la Facultad de Filosofía y Humanidades de la Universidad de Chile, promoviendo la construcción de redes colaborativas con otras unidades académicas de la universidad, así como con otras universidades del Estado, con el fin de contribuir al fortalecimiento de la educación pública; democratizar las humanidades, dinamizar y favorecer el proceso de acceso a la formación digital a la ciudadanía en general e impulsar la promoción de una cultura de innovación pedagógica en torno a temáticas actuales, relevantes y pertinentes a las necesidades de la comunidad.
    </p>
</div>

<div class="container">
    <img class="center" src="/static/eduabierta/images/openedx.svg" >
</div>

<div class="container">
    <p class="about-block">
        La plataforma EduAbierta utiliza la tecnología Open EdX, de código abierto (open source), capaz de soportar y gestionar a gran escala cursos masivos. Cada curso cuenta con el aporte académico de la Universidad de Chile y el apoyo de profesionales expertos en diseño de instrucción, siguiendo un modelo formativo centrado en la autonomía del estudiante y la pertinencia de las temáticas tratadas.
    </p>
</div>
</main>
