# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<style>
.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #2F80ED;
}

.about-block {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
}

.image-margin {
    margin: 20px;
    margin-left: 70px;
    display: inline-block;
    width: 10%;
    top: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}
</style>


<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
<h1 class="title">¿Qué es EduAbierta?</h1>

<hr>

<div class="container">
    <div style="display: inline-block;width: 80%;">
        <p class="about-block">
            EduAbierta es una iniciativa desarrollada por el Programa Transversal de Educación de la Universidad de Chile, el cual colabora en la vinculación y articulación de las unidades académicas y diversas iniciativas que han surgido en la Universidad en torno a la educación y a las pedagogías. Su labor es facilitar las relaciones entre facultades y el trabajo inter y transdisciplinario. En este contexto, se abre este espacio formativo masivo, abierto a la comunidad nacional e internacional y en línea, promoviendo cursos en modalidad MOOC (Massive open, on line, courses), y que cuentan con la excelencia académica y el prestigio la Universidad de Chile.
        </p>
    </div>
    <div class="image-margin">
        <img src="/static/eduabierta/images/eduabierta.svg">&emsp;
    </div>
</div>

<div class="container">
    <p class="about-block"> 
        Sus objetivos fundamentales son desarrollar un modelo de apertura, gestión del conocimiento y el patrimonio educativo de la Universidad de Chile, promoviendo la construcción de redes de colaboración con otras universidades del Estado, con el fin de contribuir al fortalecimiento de la educación pública; dinamizar y favorecer el proceso de acceso a la formación digital a la ciudadanía en general e impulsar la promoción de una cultura de innovación pedagógica en torno a temáticas actuales, relevantes y pertinentes a las necesidades de la comunidad.
    </p>
</div>

<div class="container">
    <img class="center" src="/static/eduabierta/images/openedx.svg" >
</div>

<div class="container">
    <p class="about-block">
        La plataforma EduAbierta utiliza la tecnología Open EdX, de código abierto (open source), capaz de soportar y gestionar a gran escala cursos masivos. Cada curso cuenta con el aporte académico de la Universidad de Chile y el apoyo de profesionales expertos en diseño de instrucción, siguiendo un modelo formativo centrado en la autonomía del estudiante; la pertinencia y universalidad de las temáticas tratadas.
    </p>
</div>
</main>
